@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
}

.backgroud-black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

.backgroud-black.active-bkg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 90;
    z-index: 1;
}

.portafolio-viewer{
    display: none;
    transition: display 0.3s ease-in-out;
}
.portafolio-viewer.active-portafolio{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav-portafolio{
    background-color: #FD7979;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-portafolio img{
    width: 50px;
    height: 50px;
    filter: invert();
}

.nav-portafolio:hover{
    background-color: #FDACAC;
    transform: scale(1.1);
}

.close-portafolio{
    background-color: #FD7979;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.close-portafolio img{
    width: 50px;
    height: 50px;
    filter: invert();
    color: white;

}

.close-portafolio:hover{
    background-color: #e83f3f;
    transform: scale(1.1);
}

.no-sel-button{
    user-select: none;
}

.cards-container{
    flex:3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
}

.proyecto-card{
    border: 2px solid #FD7979;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex-shrink: 0;

    height: 90%;
    text-align: justify;
    padding: 10px;
    box-sizing: border-box;

    scroll-snap-align: start;
}

.proyecto-card *{
    user-select: none;
}

.proyecto-card img{
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.proyecto-card h1{
    text-align: center;
    color: #FD7979;
    margin-bottom: 5px;
}

.proyecto-card p{
    color: black;
    font-size: medium;
    line-height: 1.2;
    margin-bottom: 5px;
    text-wrap: wrap;
}

.proyecto-card a{
    color: #FD7979;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    background: #FEEAC9;
    background: linear-gradient(0deg, rgba(254, 234, 201, 1) 0%, rgba(255, 205, 201, 1) 100%);
    padding: 20px;
    gap: 10px;
}

.left-container, .right-container {
    height: 80%;
    border: 4px solid #FD7979;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 50px 0 50px 0 ;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
}

.left-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
    
}

.right-container{
    flex: 3;
    display: flex;
    flex-direction: column;
    
}

.button-pink{
    background-color: #FD7979;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: large;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button-pink:hover{
    background-color: #FDACAC;
    transform: scale(1.1);
}

/*ESTILOS PARA EL LEFT-CONTAINER*/

.img-perfil{
    width: 70%;
    border-radius: 100% ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, border-radius 0.3s;
}

.img-perfil:hover{
    transform: scale(1.05);
    border-radius: 25% 0 25% 0 ;
    
}

.left-container h1{
    text-align: center;
    color: #FD7979;
    margin: 0;
    white-space: nowrap;
    cursor: default;

    transition: transform 0.3s;

    --webkit-user-select: none; /* Safari */
    user-select: none;

}
.left-container h1:hover{
    transform: scale(1.1);
}

.left-container h2{
    text-align: center;
    color: black;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    
    transition: transform 0.3s;

    --webkit-user-select: none; /* Safari */
    user-select: none;
}
.left-container h2:hover{
    transform: scale(1.1);
}

.socials-row{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.socials-row button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    --webkit-user-select: none; /* Safari */
    user-select: none;
}

.svg-logo{
    width: 24px;
    height: 24px;
    filter: invert(1);
}

/*ESTILOS PARA EL RIGHT-CONTAINER*/

.menus-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #FD7979 transparent;
    gap: 10px;
    border-radius: 10px;
}

.menu-item h1{
    cursor: pointer;
    font-size: xx-large;
    transition: font-size 0.3s;
    margin: 0;
    background-color: #FD7979;
    padding: 10px;
    border-radius: 10px;
    transition: border-radius 0.7s, background-color 0.3s, font-size 0.3s;

}
.menu-item h1:hover{
    font-size: xxx-large;
    background-color: #FDACAC;

}

.active-info h1{
    font-size: xx-large;
    border-radius: 10px 10px 0 0 ;
}

.info-text{
    text-align: justify;
    color: black;
    font-size: large;
    line-height: 1.5;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FEEAC9;

    border-radius: 0 0 10px 10px ;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding-top 0.45s ease-in-out;
}

.info-text p, .info-text ul, .info-text ol{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.info-text p:first-child,
.info-text ul:first-child,
.info-text ol:first-child {
    margin-top: 0; /* Asegura que el primer hijo no empuje hacia abajo */
}

.menu-item.active-info .info-text {
    max-height: 1000px; 
    padding-top: 10px;
}

#portaflio-info-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    
}

